<div class="form">

  <h3 class="form_header">Login form</h3>

  <form #loginForm="ngForm">
    <div id="input_field">
      <input
        type="text"
        placeholder="Username"
        name="username"
        id="username"
        required
        [(ngModel)]="username">
    </div>
    <button
      id="login_button"
      type="button"
      [disabled]="loginForm.form.invalid"
      class="btn btn-outline-primary"
      (click)="onLoginClick()">
      Login
    </button>
  </form>
</div>
