<div>
  <h3 class="username_header" style="padding: 2vh">
    {{ username$ }}'s Pokémon
  </h3>
  <app-trainer-item
    class="pokemonItem"
    [pokemon]="pokemon"
    *ngFor="let pokemon of pokemon$"
    (click)="onPokemonClicked(pokemon)">
  </app-trainer-item>
</div>
