.headline {
  padding: 2vh;
}

#logOutButton {
  float: right;
  position: absolute;
  top: 2vh;
  right: 2vh;
}

#catalogueButton {
  float: right;
  position: absolute;
  top: 2vh;
  right: 16vh;
}
