<div>
  <h1 class="headline">Trainer</h1>
  <button
    (click)="onCatalogueClick()"
    class="btn btn-outline-info"
    name="catalogueButton"
    id="catalogueButton"
  >Catalogue</button>
  <button
    (click)="onLogOutClick()"
    class="btn btn-outline-danger"
    name="logOutButton"
    id="logOutButton"
  >Log Out</button>
</div>

<app-trainer-list></app-trainer-list>
