<div class="pokemonBox">
  <img src="./assets/{{ pokemon?.id }}.png" alt="./assets/substitute.png" class="pokemonImage">
  <img *ngIf="hasPokemon" src="./assets/pokeball.png" alt="" class="pokeball">
  <h4 class="pokemonName">
    {{ pokemon?.name }}
  </h4>
</div>
