<div>
  <h1 class="headline">Catalogue</h1>
  <button
    (click)="onTrainerClick()"
    class="btn btn-outline-info"
    name="trainerButton"
    id="trainerButton"
  >Trainer</button>
  <button
    (click)="onLogOutClick()"
    class="btn btn-outline-danger"
    name="logOutButton"
    id="logOutButton"
  >Log Out</button>
</div>

<app-catalogue-list></app-catalogue-list>
