.pokemonBox {
  border-style: solid;
  border-color: black;
  background-color: beige;
  margin: 2vh;
  border-radius: 10px;
}

.pokemonImage {
  padding: 1vh;
}

.pokemonName {
  padding-top: 4vh;
  margin: 0;
  width: 70%;
  float: right;
}

.pokeball {
  height: 5vh;
  float: right;
  border-radius: 100%;
}
